body{
    padding: 0;
    margin: 0;
    background-color: #190843;
}

h1{
    text-align: center;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    margin-top: 5vh;
}

.link{
    align-items: center;
    margin: 0;
    font-size:20px;
}

p{
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
}

a{
    color: aqua;
}

div{
    display: flex;
    justify-content: center;
    margin-top: 12vh;
}

form{
    width: 300px;
    height: 400px;
    padding: 20px;
    background-color: rgb(7, 1, 36);
    border-radius: 10px;
    box-shadow: 5px 5px 7px 2px rgb(7, 4, 52);
    font-family: 'Roboto', sans-serif;
}

table{
    padding: 5px 10px;
}

#display{
    /* margin: 15px 10px; */
    margin-top: 15px;
    margin-bottom: 15px;
    width: 260px;
    padding: 10px 4px;
    margin-left: 4px;
    font-size: 30px;
    border-radius: 10px;
    background-color: rgb(41, 41, 78);
    color: aliceblue;
    box-shadow: 4px 4px 6px 1px rgb(18, 11, 111);
}


.max{
    display: flex;
    justify-content: flex-start;;
}

input[type = button]{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 4.7px;
    width: 60px;
    height: 60px;
    font-size: 28px;
    cursor: pointer;
    background-color: #190843;
    color: aliceblue;
    border-radius: 10px;
    /* border: 1px solid black; */
    opacity: 0.8;
    box-shadow: 2px 2px 3px 1px rgb(18, 11, 111);
}

input[type = button]:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(12, 2, 122);
}

input[type = button]:active{
    color: rgb(0, 0, 0);
    background-color: rgb(144, 140, 192);
}